{% extends "base.html" %} 
{% block title %}result{% endblock %}
{% block content %}
    <div id="izq" >
        <h1>Análisis del repositorio</h2>
        <h2>{{ NombreRepo }} - {{ NombreUser }}</h2>
        <h3>Este repositorio tiene un total de {{ totalFiles }} archivos</h3>
        <img src="data:image/png;base64,{{ image }}" alt="Gráfico de Porcentajes" height="400px" width="550px"><ul>{% for nombre, porcentaje in langPercentages.items() %}<li> {{ nombre }}: {{ porcentaje }}</li>{% endfor %}</ul>    
        </br>
        <h4>Análisis de los lenguajes minoritarios</h4>
        <p>Número de commits realizados sobre lenguajes minoritarios:</p>
        <ul>
            {% for lenguajemin, num in total_commits_min_languages.items() %}
            <li>{{ lenguajemin }}: {{num}} </li>
            {% endfor %}
        </ul>
    
    </div>
    <div id="der">
        <h4> Aportaciones de cada usuario en commits: </h4>
        <ul>
            {% for nombre, detalles in personas.items() %}
                <li>
                    <a href="#" class="user-link">{{ nombre }}</a>
                    <div class="commits-list" style="display: none;">
                        <ul>
                            {% for key, value in detalles.items() %}
                                <li>{{ key }}: {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <link rel="stylesheet" href="static/userrepo.css">
    <script src="static/userrepo.js"></script>
{% endblock %}
