{% extends "base.html" %} 
{% block title %}Repositorios de {{ username }}{% endblock %}
{% block content %}
    <section class="container mt-5">
        <div class="text-center mb-4">
            <h2 class="display-6">Repositorios de <span class="fw-bold">{{ username }}</span></h2>
        </div>
        <div class="list-group">
            {% for nombrerepo, lenguajes in dictuserrepos.items() %}
                <form action="/userrepo" method="post" style="display:inline;">
                    <input type="hidden" name="username" value="{{ username }}">
                    <input type="hidden" name="repo" value="{{ nombrerepo }}">
                    <button type="submit" class="list-group-item list-group-item-action text-start mb-1 py-2 border-0 bg-light shadow-sm btn-sm">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="h6 fs-6">{{ nombrerepo }}</span>
                        </div>
                    </button>
                </form>
            {% endfor %}
        </div>
    </section>
    
    <!-- Añade tus estilos personalizados -->
    <link rel="stylesheet" href="static/userrepo.css">
    
    <!-- Incluye Bootstrap Icons si aún no se han incluido -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
{% endblock %}
